models/*.meta filter=lfs diff=lfs merge=lfs -text
.data/classification/*.jpg filter=lfs diff=lfs merge=lfs -text
.data/enhancement/*.jpg filter=lfs diff=lfs merge=lfs -text
.data/segmentation/*.jpg filter=lfs diff=lfs merge=lfs -text
.data/nlp/*.de filter=lfs diff=lfs merge=lfs -text
.data/nlp/*.en filter=lfs diff=lfs merge=lfs -text
